{% extends "base.html" %}

{% block title %}Restock {{ book.title }}{% endblock %}

{% block content %}

<div class="max-w-md mx-auto bg-white p-8 rounded-2xl shadow">
    <h1 class="text-xl font-semibold text-gray-800 mb-4">
        Edit: {{ book.title }}
    </h1>

    <form method="POST">
      <div class="mb-6">
		{{ form.hidden_tag() }}
		<!-- label and field class are comming from tailiwind @apply directive-->
		{{ form.title.label(class = "label") }}
		{{ form.title( class = "field") }}

		{{ form.author.label(class = "label") }}
		{{ form.author( class = "field") }}

		{{ form.price.label(class = "label") }}
		{{ form.price( class = "field") }}
		
        {{ form.item_type.label(class = "label") }}
		{{ form.item_type( class = "field") }}

		{{ form.category.label(class = "label") }}
		{{ form.category( class = "field") }}

		{{ form.location.label(class = "label") }}
		{{ form.location( class = "field") }}

		{{ form.image_url.label(class = "label") }}
		{{ form.image_url( class = "field") }}

		{{ form.stock_available.label(class = "label") }}
		{{ form.stock_available( class = "field") }}

		{{ form.stock_sold.label(class = "label") }}
		{{ form.stock_sold( class = "field") }}

		{{ form.stock_borrowed.label(class = "label") }}
		{{ form.stock_borrowed( class = "field") }}

        </div>
        <div class="flex gap-3 w-full mb-6">
		  {% for error, reason in form.errors.items() %}
			<p class='w-full text-red-600 border-red-100 p-4 border-solid border-1 rounded'>{{error}} - {{reason}}</p>
		  {% endfor %}
		</div>
        <div class="flex gap-3">
            {{ form.submit(class_="px-4 py-2 bg-green-600 text-white rounded-lg cursor-pointer") }}

            <a href="{{ url_for('main.inventory') }}"
               class="px-4 py-2 bg-gray-200 text-gray-700 rounded-lg">
                Cancel
            </a>
        </div>
    </form>
</div>

{% endblock %}
